*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3C6255;
   
    color: #fff;
}
body{
  height: 100vh;
  background-color: #EAE7B1;
}

 #titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 25px;
 }
 #titulo img{
    width: 60px;


 }
/* h1 {
    display: block;
    padding: 20px;
} */
#bloqueTarjetas {
    display: flex;
    padding: 20px 30px;
    flex-wrap: wrap;
    gap: 5%;

    
}

.tarjeta {
    border-radius: 20px;
    width: 16%;
    gap: 15px;
    text-align: center;
    margin-bottom: 30px;
    height: 40vh;
    background-color: #D5EBD7;
    display: flex;
    flex-direction: column ;
    justify-content: center;
}


.imagenPokemon {
    width: 100%;
}

/*css para la maquetacion de los menus principales*/

nav{
    width: 100%;
    background-color: #61876E;
  }
  .menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .imagenMenu{
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }
  .imagenMenu>a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;  
    /* formato de letra del titulo de los menus */
    font-size: 15px;
    font-weight: bolder; 
  }


  .menu-horizontal>li:hover{
    background-color: #3C6255;
  }
  
  .menu-vertical{
    position: absolute;/* independiente del resto*/
    display: none;
    list-style: none;
    width: 200px;
    background-color: #A6BB8D;

  
  }
  .menu-horizontal li:hover .menu-vertical{
    display:block;
  }
  .menu-horizontal li:hover .menu-tipos{
    display: flex;
    width: 400px;
    justify-content: space-around;
  }
  .menu-vertical li:hover{
    background-color: #3C6255;
  }
  
  
  .menu-vertical li a{
    display: block;
    color: white;
    padding: 5px 15px 5px 20px;
    text-decoration: none;
     /* formato de letra de los items de los submenus */
    font-size: 15px;
    font-weight: bolder; 
  }
  
  .buscar{
    width: 40%;
    display: flex;
    justify-content: center;/*centrado horizontal*/
    align-items: center;/*centrado vertical*/
    gap: 5px;
  }
  .buscar input{
    width: 80%;
    height: 35%;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
  }

  @media (max-width: 700px){
    #bloqueTarjetas {
        gap: 20%;

    }
    .tarjeta {
        width: 40%;

    }
    /*en dispositivo movil esta en columna el menu*/
    .menu-horizontal{
      flex-direction: column;
    }
    /*en dispositivo movil el buscar es primero*/
    .buscar{
      order:1;
      width: 100%;
      margin-top: 5px;
    }
    .menuPrincipal{
      order:2
    }
    .menuPrincipal:first-child{
      order:3
    }

    .menu-vertical{
      position: relative;
      width: 100%;
    }

    .menu-horizontal li:hover .menu-tipos{
      width: 100%;
    }
}

/* estilos de la tabla de estadistica*/

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
  /* formato del titulo h2 para ambos casos movil y escritorio */
  h2{
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder; 
  }


  @media screen and (max-width: 600px) {
   

   .estadistica{
    width: 100%;
   }
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    td { 
      border: 1px solid #3C6255;  
    }

    /* cada celda ocupa toda la linea por lo tanto es como si estuviera vertical */
    tbody td {
        display: block;/*gracias a el cada celda ocupa toda la linea*/
        padding: 6px 30px;
    }

    /* Para añadir los titulos al lado izquierdo en cada td en version mobil */
    td:nth-of-type(1):before { content: "Tipo: "; font-weight: bold;}
		td:nth-of-type(2):before { content: "Cantidad Total: "; font-weight: bold;}
		td:nth-of-type(3):before { content: "% del Total: "; font-weight: bold; }
		td:nth-of-type(4):before { content: "Promedio Ataque: "; font-weight: bold; }
		td:nth-of-type(5):before { content: "Promedio Defensa: "; font-weight: bold; }
		td:nth-of-type(6):before { content: "Promedio de Puntos de Salud (HP): "; font-weight: bold; }


    tr{
      display: block;
      margin-bottom: 25px;
      
    }

    
}

/* para escritorio */
@media screen and (min-width: 600px) {
  .estadistica{
    margin:  auto;
  }
  table, td,th { border-style: solid; border-collapse:collapse;padding: 7px;border-width: 1px;  }
  thead{
    background-color: #61876E;
  }
  tbody{
    background-color: #A6BB8D;
    text-align: center;
  }


}